# Object and report files
*.o
*.optrpt

# Report
e0*/
*.advixeproj
*advidb2
report*/
*.dflgadvixe
*infoadvixe
*-Report/

# binaries
black-scholes
nbody
main

# VSCode
.vscode/

# other
*.def

# practica2 binaries
hello
prime
heat
demo
headless
# practica 3
pingpong
piparallel
piserial


# latex
*aux
*fdb_latexmk
*fls
*nav
*out
*toc
*vrb
_minted-*/
*log
*snm
*synctex.gz
